
.sign-in-content
{
    position: absolute;
    box-shadow: 2px 2px 10px  #0c2461;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

}


.sign-in
{
    display: flex;
    justify-content: center;
   padding: 15px 20px;
}

.sign-in  form  input:not(#submit)
{
    display: block;
    margin: 20px;
    outline: none;
    padding: 10px;
    width: 300px;  
    border: 0.5px solid #0c2461;
    border-radius: 5px;
}
#submit 
{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    padding: 10px 50px;
    color: white;
    background-color: #130f40;
    border: none;
    border-radius: 10px;
}

#signin-link
{
    text-align: center;
    margin-top: 20px;
}
#signin-link a
{
    text-decoration: none;
    color: #0c2461;
}
.sign-in-content  .sign-in form hr
{
    color: #0c2461;
    margin-top: 10px;
   
}
.signin-password
{
    position: relative;
}
#forgot-password 
{
    position: absolute;
    text-decoration: none;
    color: #0c2461;
    right: 5%;
    top: 105%;
    cursor: pointer;
   
}
.social-media-signin .sign-in-with-google button
{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    background-color: #130f40;
    color: white;
    border-radius: 5px;
    border: 0.5px solid #0c2461;
    cursor: pointer;

}
.social-media-signin .sign-in-with-google button:hover
{
    background-color: white;
    color: #0c2461;
    border: 0.5px solid #0c2461;
 transition: 0.5s ease-in-out;
}